{% extends "myapp/base.html" %} 

{% load static %}
{% block title %}Listings {% endblock title %}
{% block head %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock head %}
{% block body %}
    <link rel="stylesheet" href="{% static "myapp/mainComponents/css/dashboard.css" %}" >
        <div class="container">
            <div class="row">
                {% for object in object %}
                    <div class="col-md-3">
                        <div class="ibox">
                            <div class="ibox-content product-box">
                                {% comment %} <div class="product-imitation">
                                    [ INFO ]
                                </div> {% endcomment %}
                                <div class="col-md-3 mt-1">
                                    <img class="img-fluid img-responsive rounded product-image" src="{{ object.image.url }}">
                                </div>
                                <div class="product-desc">
                                    <span class="product-price">
                                        {{ object.start_bid}}
                                    </span>
                                    <small class="text-muted">{{ object.category }}</small>
                                    <a href="#" class="product-name">{{ object.name }}</a>
                
                                    <div class="small m-t-xs">
                                        {{ object.description }}
                                    </div>
                                    <div class="m-t text-righ">
                                        <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                {% endfor %}
            </div>
        </div>



{% endblock body %}